{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>Story1_Safa</title>
	<style>
		body {background: #ebe4c7;}
		h1 {color: #1d5a63; font-family: times; font-size: 40px; font-style: italic; font-weight: bold; text-decoration: underline;}
		p {color: black; font-family: Antiqua; font-size:18px; }
	</style>
</head>
<body>
	<h1>Biodata</h1>
	<img width="300" height="300" src="{% static 'fotosaya.JPG' %}" alt="Safa Fathya Azzizah">
	<p id="nama">Nama : Safa Fathya Azzizah</p>
	<p id="npm">NPM : 1806147161</p>
	<p id="kuliah">Kuliah : Fasilkom UI</p>
	<p id="batch">Angkatan : 2018 (Quanta)</p>
	<p id="hobi">Hobi : Travelling dan Menonton Film</p>
	<p id="desc">Deskripsi : Saya adalah mahasiswi jurusan Sistem Informasi yang bercita-cita menjadi pebisnis</p>
</body>
</html>